* {
    font-family:sans-serif;
}

li {
    list-style-type: none;
}

/* body {
    margin: 50px;
    background-color: black;
} */
#container {
    background-image: url(3_autumn.webp);
    background-color: rgb(0, 0, 0);
}

ul#postList {
    margin-top: 0px;
}

li.list-group-item {
    margin: 0 auto;
    text-align: center;
    height: 250px;
    background-size: cover;
    background-color: rgba(16, 99, 64, 0.774);
    border-radius: 10px;
    width: 700px;
    
}

ul#postList {
    padding: 10px;
}

background-image {
    opacity: 0.5;
  }

.linkStyle a{
    background-color: rgb(197, 146, 35);
    padding: 3px;
    border: solid 0.5px rgb(63, 63, 63);
    margin-top: 20px;
    display: inline-block;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}

.linkStyle a:hover {
    background-color: white;
    color: black;
}

h2 {
    padding-top: 25px;
    color: white;
}

.info {
    font-size: 12px;
    color: rgb(39, 39, 39);
}

#mainNav a {
display: flex;
justify-content: end;
padding-right: 10px;
margin-right: 10px;
font-size: larger;
text-decoration: none;
color: rgb(116, 116, 116);
}

#mainNav a:hover {
    color:lightgray;
}

p {
color: black;
}