table, th, td {
    border: solid black 1px;
    padding: 10px;
    
}

form input {
    margin: 10px;
    display: block;
    width: 250px;
}

select, button {
    display: block;
    width: 200px;
    margin: 10px;
}

textarea {
    width: 500px;
    height: 200px;
}